html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(30, 54%, 90%);
}

main {
    width: 45rem;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-radius: 15px;
}

img {
    object-fit: contain;
    border-radius: 5px;
}

section {
    margin: auto;
}

p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.Prep {
    background-color: hsl(330, 100%, 98%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.Prep h3 {
    padding-left: 1.5rem;
    color: hsl(332, 51%, 32%);
}

ul {
    list-style-type: disc;
    padding-left: 2.5rem;
    line-height: 2rem;
    color: hsl(30, 10%, 34%);
}

li {
    padding-left: 0.5rem;
}

.Prep li::marker {
  color: hsl(332, 51%, 32%);
}

.Ingredients {
    width: 100%;
    border-collapse: collapse;
    border-width: 0 0 0.1px 0;
    border-style: solid;
    border-color: hsl(30, 18%, 87%);
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.Ingredients ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    line-height: 2rem;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Instructions {
    width: 100%;
    border-collapse: collapse;
    border-width: 0 0 0.1px 0;
    border-style: solid;
    border-color: hsl(30, 18%, 87%);
}

.Instructions ol {
    padding-left: 1.5rem;
    line-height: 2rem;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Instructions li::marker {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.Nutrition {
    width: 100%;
}

table {
    width: 100%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 10%, 34%);
}

th {
    color: hsl(14, 45%, 36%);
    text-align: left;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
}

th, td {
    border-width: 0 0 0.1px 0;
    border-style: solid;
    border-color: hsl(30, 18%, 87%);
}

.last-row {
    border: none;
}

footer { 
    font-size: 11px; 
    text-align: center;
    margin-top: 1rem;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}